# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace
*.xcodeproj
*.sln
*.slnx

# Compiled source
*.o
*.obj
*.exe
*.dll
*.pdb

# Content - assets binarios de Unreal (grandes, no se trackean en git)
Content/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vs/
.vscode/
.idea/
